.box {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
  .box span {
    position: absolute;
    height: 2px;
    width: 570px;
    background: black;
    transform: translate(-2000px, 0);
    left: 15px;
    animation: leftMove 1s 1 ease forwards; }
  .box i {
    position: absolute;
    width: 2px;
    height: 570px;
    background: black;
    transform: translate(0, -2000px);
    top: 15px;
    animation: topMove 1s 1 ease forwards; }

.box span:nth-of-type(1) {
  top: 15px;
  animation-delay: 100ms; }

.box i:nth-of-type(1) {
  left: 15px;
  animation-delay: 100ms; }

.box span:nth-of-type(2) {
  top: 45px;
  animation-delay: 200ms; }

.box i:nth-of-type(2) {
  left: 45px;
  animation-delay: 200ms; }

.box span:nth-of-type(3) {
  top: 75px;
  animation-delay: 300ms; }

.box i:nth-of-type(3) {
  left: 75px;
  animation-delay: 300ms; }

.box span:nth-of-type(4) {
  top: 105px;
  animation-delay: 400ms; }

.box i:nth-of-type(4) {
  left: 105px;
  animation-delay: 400ms; }

.box span:nth-of-type(5) {
  top: 135px;
  animation-delay: 500ms; }

.box i:nth-of-type(5) {
  left: 135px;
  animation-delay: 500ms; }

.box span:nth-of-type(6) {
  top: 165px;
  animation-delay: 600ms; }

.box i:nth-of-type(6) {
  left: 165px;
  animation-delay: 600ms; }

.box span:nth-of-type(7) {
  top: 195px;
  animation-delay: 700ms; }

.box i:nth-of-type(7) {
  left: 195px;
  animation-delay: 700ms; }

.box span:nth-of-type(8) {
  top: 225px;
  animation-delay: 800ms; }

.box i:nth-of-type(8) {
  left: 225px;
  animation-delay: 800ms; }

.box span:nth-of-type(9) {
  top: 255px;
  animation-delay: 900ms; }

.box i:nth-of-type(9) {
  left: 255px;
  animation-delay: 900ms; }

.box span:nth-of-type(10) {
  top: 285px;
  animation-delay: 1000ms; }

.box i:nth-of-type(10) {
  left: 285px;
  animation-delay: 1000ms; }

.box span:nth-of-type(11) {
  top: 315px;
  animation-delay: 1100ms; }

.box i:nth-of-type(11) {
  left: 315px;
  animation-delay: 1100ms; }

.box span:nth-of-type(12) {
  top: 345px;
  animation-delay: 1200ms; }

.box i:nth-of-type(12) {
  left: 345px;
  animation-delay: 1200ms; }

.box span:nth-of-type(13) {
  top: 375px;
  animation-delay: 1300ms; }

.box i:nth-of-type(13) {
  left: 375px;
  animation-delay: 1300ms; }

.box span:nth-of-type(14) {
  top: 405px;
  animation-delay: 1400ms; }

.box i:nth-of-type(14) {
  left: 405px;
  animation-delay: 1400ms; }

.box span:nth-of-type(15) {
  top: 435px;
  animation-delay: 1500ms; }

.box i:nth-of-type(15) {
  left: 435px;
  animation-delay: 1500ms; }

.box span:nth-of-type(16) {
  top: 465px;
  animation-delay: 1600ms; }

.box i:nth-of-type(16) {
  left: 465px;
  animation-delay: 1600ms; }

.box span:nth-of-type(17) {
  top: 495px;
  animation-delay: 1700ms; }

.box i:nth-of-type(17) {
  left: 495px;
  animation-delay: 1700ms; }

.box span:nth-of-type(18) {
  top: 525px;
  animation-delay: 1800ms; }

.box i:nth-of-type(18) {
  left: 525px;
  animation-delay: 1800ms; }

.box span:nth-of-type(19) {
  top: 555px;
  animation-delay: 1900ms; }

.box i:nth-of-type(19) {
  left: 555px;
  animation-delay: 1900ms; }

.box span:nth-of-type(20) {
  top: 585px;
  animation-delay: 2000ms; }

.box i:nth-of-type(20) {
  left: 585px;
  animation-delay: 2000ms; }

@keyframes leftMove {
  from {
    transform: translate(-2000px, 0); }
  to {
    transform: translate(0, 0); } }
@keyframes topMove {
  from {
    transform: translate(0, -2000px); }
  to {
    transform: translate(0, 0); } }

/*# sourceMappingURL=chess.css.map */
